#content {
  min-height: calc(100vh - 130px);
}
#footer {
  height: 50px;
}

.center{
  left: 35%;
  top : 35%;
  position: absolute;
}

.padded,
.padded-below {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 1%;
}

.padded-below {
  padding-bottom: 1%;
}

.form-card {
  /* display: flex; */
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  margin: auto;
  flex-grow: 3;
  width: 90%;
  margin-top: 10px;
}

.flex-container {
    flex-grow: 0.4;
}

.wrapper {
  text-align: left;
  height: auto;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.div-center{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* .horizontal-center {
  height: 200px;
  position: relative;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
} */