{%extends 'base.html'%} {%block containt%} {%include 'navbar.html'%} 
  <div id="content" class="form-card">
    <div class="card flex-container wrapper">
      <div class="card-body">
        <h5 class="card-title text-primary">Appointment Request</h5>
        <h6 class="card-subtitle mb-2 text-muted">
          Please enter accurate details
        </h6>
        <form  method="POST">
          {%load crispy_forms_tags%} {%csrf_token%}
          <!-- {{form|crispy}} -->
          <div class="form-row">
            <div class="form-group col-md-12 mb-0">
              {{ form.Patient_Name|as_crispy_field }}
            </div>

          </div>
          <div class="form-row">
            <div class="form-group col-md-8 mb-0">
              {{ form.Patient_Contact|as_crispy_field }}
            </div>
            <div class="form-group col-md-4 mb-0">
              {{ form.Patient_Age|as_crispy_field }}
            </div>
          </div>
          <div class="form-row">
          <div class="form-group col-md-4 mb-0">
            {{ form.Appointment_type|as_crispy_field }}
          </div>
            <div class="form-group col-md-8 mb-0">
              {{ form.Reason|as_crispy_field }}
            </div>
        </div>
          <div class="form-row">
            
            <div class="form-group col-md-12 mb-0">
              {{ form.Location|as_crispy_field }}
            </div>
          </div>
          <button type="submit" class="btn btn-outline-primary">
            Get appointment
          </button>
        </form>
      </div>
      <div class="card-footer">
        <h2 class="text-primary">Intructions</h2>
        <p>
          1. Make a List and Prioritize Your Concerns.<br />
          2. Try your best to articulate your concerns when with doctor.<br />
          3. Consider bringing a family member or a friend to the doctor's
          visit.<br />
        </p>
      </div>
    </div>
  </div>
</form>
{%include 'footer.html'%} {%endblock%}
