{%extends 'base.html'%} {%block containt%} {% load static %}

<link rel="stylesheet" type="text/css" href="{%static 'css/admin_styles.css'%}">

<nav class="navbar navbar-expand-lg navbar-dark bg-dark text-light">
  <a class="navbar-brand" href="{%url 'Admin_Home'%}">Admin</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <div class="dropdown">
        <button class="dropbtn btn btn-secondary dropdown-toggle">
          Doctor
        </button>
        <div class="dropdown-content">
          <a href="{%url 'Add_Doctor'%}">Add Doctor</a>
          <a href="{%url 'Read_Doctor'%}">See Doctors</a>
        </div>
      </div>

      <div class="dropdown">
        <button class="dropbtn btn btn-secondary dropdown-toggle">Nurse</button>
        <div class="dropdown-content">
          <a href="{%url 'Add_Nurse'%}">Add Nurse</a>
          <a href="{%url 'Read_Nurse'%}">See Nurse</a>
        </div>
      </div>

      <div class="dropdown">
        <button class="dropbtn btn btn-secondary dropdown-toggle">
          Room Service
        </button>
        <div class="dropdown-content">
          <a href="{%url 'Add_Room_Service'%}">Add RS Employee</a>
          <a href="{%url 'Read_Room_Service'%}">See RS Employee</a>
        </div>
      </div>

      <a
        class="btn btn-primary amb"
        href="{%url 'Read_Ambulance'%}"
        roll="button"
        >Ambulance request</a
      >

      <a class="btn btn-primary amb" href="{%url 'Read_Appointment'%}" roll="button"
        >Appointment request</a
      >
      <a
        class="btn btn-primary amb"
        href="{%url 'Read_Ambulance_History'%}"
        roll="button"
        >Ambulance History</a
      >
      <a
        class="btn btn-primary amb"
        href="{%url 'Read_Appointment_History'%}"
        roll="button"
        >Appointment History</a
      >
    </ul>
  </div>
</nav>

{%endblock%}