{%extends 'base.html'%} {%block containt%} {%include 'nav.html'%}
<br />
<h1 style="text-align: center">Appointment History</h1>
<br />
<div id="content">
  {%for i in read reversed%}
  <div class="wrapper">
    <div class="card bg-dark text-light">
      <div class="card-body">
        <h5 class="card-title">
          <span style="font-weight: bold">Patient's Name: </span
          >{{i.Patient_Name}}
        </h5>
        <p class="card-text">
          <span style="font-weight: bold">Age: </span>{{i.Patient_Age}}
        </p>
        <p class="card-text">
          <span style="font-weight: bold">Contact: </span>{{i.Patient_Contact}}
        </p>
        <p class="card-text">
          <span style="font-weight: bold">Location: </span>{{i.Location}}
        </p>
        <p class="card-text">
          <span style="font-weight: bold">Reason: </span>{{i.Reason}}
        </p>
        <p class="card-text">
          <span style="font-weight: bold">Time of contact: </span
          >{{i.date_time}}
        </p>
        <p class="card-text">
          <span style="font-weight: bold">User ID: </span>{{i.req_by}}
        </p>
      </div>
    </div>
    <hr />
  </div>
  {%empty%}
  <br />
  <h2 class="wrapper" style="text-align: center">The list is empty.</h2>
  {%endfor%}
</div>
{%include 'footer.html'%} {%endblock%}
