{%extends 'base.html'%}
{%block containt%}
{%include 'nav.html'%}
<br>

<div id="content" class="wrapper">
  <div class="card flex-container">
    <div class="card-body">
      <h5 class="card-title text-primary">Add a new Room Service Employee</h5>
      <form method="POST">
        {%load crispy_forms_tags%} {%csrf_token%}
        <!-- {{form|crispy}} -->
        <div class="form-row">
          <div class="form-group col-md-6 mb-0">
            {{ form.Name|as_crispy_field }}
          </div>
          <div class="form-group col-md-3 mb-0">
            {{ form.Age|as_crispy_field }}
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-9 mb-0">
            {{ form.Gender|as_crispy_field }}
          </div>
        </div>
        <button type="submit" class="btn btn-outline-primary">Add RS Employee</button>
      </form>
    </div>
  </div>
</div>
{%include 'footer.html'%}
{%endblock%}